@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
 
}
#events_heading{
 font-family: 'Inter', sans-serif;
}
#nav_heading, .ReachText{
 font-family: 'Inter', sans-serif;
}
#quote{
 font-family: 'Poppins', sans-serif;
}
::-moz-selection { /* Code for Firefox */
  color: white;
  background: #2F2FA2;
}

::selection {
  color: white;
  background: #2F2FA2;
}